
*{
    box-sizing: border-box;
}

body{
    background-color: silver;

    margin: 4px 4px 4px 4px;
    padding: 2px 2px 2px 2px;
    border: solid black 1px;
}
header{
    text-align: center;
    background-color: black;

    margin: 5px 10px 5px 10px;
    padding: 3px 3px 3px 3px;
    border: solid silver 4px;
}

h1{
    color: white;
    font-size: 60px;
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
}

h2{
    color: grey;
    font-size: 30px;
    margin: 2px 1px 2px 1px;
    padding: 2px 1px 2px 1px;
}

h3{
    color: grey;
    font-size: 30px;
    margin: 2px 1px 2px 1px;
    padding: 2px 1px 2px 1px;
}

li{
    color: white;
    font-size: 15px;
}

p{
    color: white;
    font-size: 15px;
    margin: 3px 2px 3px 2px;
    padding: 1px 1px 1px 1px;
    
}

.principal-div{
   
    display: grid;
   grid-template-columns: auto auto auto;
   
    width: 100%;
    background-color: black ;
    margin:auto;
    padding: 15px;
    border: solid white;
}

#datos{
    width: 250px;
    height: 200px;
    border: 1px solid white;
    text-align: center;
    margin: 4px;
    padding: 2px;
}

#contacto{
    width: 250px;
    height: 200px;
    border: 1px solid white;
    text-align: center;
    margin: 4px;
    padding: 2px;
}

#exp{
    width: 400px;
    height: 100px;
    border: 1px solid white;
    text-align: justify;
    margin: 4px;
    padding: 2px;
}

img {
    width: 200px;
    height: 200px;
    margin: 4px 6px 4px 50px;
}

*{

    font-family: 'Fira Sans', sans-serif;

}